{% load static %}
<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/jquery-3.1.1.js' %}" type="text/javascript"></script>

</head>
<br>
    {% for cart in carts %}
        <br>
        {{ cart.product.name }}
        <a><button  type="button" value="{{ cart.id }}" >+</button></a>
        </br>
    {% endfor %}
    <br>{{ total_price }}</br>

    <script type="text/javascript">

        $("button").click(function add_count(){
                $.ajax({
                       url:"{% url 'cart:add-count' %}",
                       type: 'POST',
                       data: {"cart_id":this.value},
                       success: function(refresh){
                  location.reload();
                }
                    })
                })
    </script>
</body>
</html>