<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for product in products %}
        <td>
            <img src="{{ product.productimage_set.first.image.url }}" width="50px" height="40px">
        </td>
        <td>
            <a href="{% url 'product:product-detail' product.id %}">{{ product.name }}</a>
        </td>
        <td>{{ product.price }}</td>
    {% endfor %}
</body>
</html>