<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div >
        <h2>login</h2>
        <form action="{% url 'account:login' %}" method="post" autocomplete="off">
            <div >
                <label>username</label>
                <input name="username" id="account_l" type="text" placeholder="input your username" />
            </div>
            <div >
                <label>password</label>
                <input name="password" id="password_l" type="password" placeholder="input your password" />
            </div>
{#            <div  id="jsLoginTips">{% for key,error in login_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</div>#}
             <input  type="submit" value="立即登录 > " />
        </form>
    </div>
</body>
</html>