{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block content %}
    <body>
        <div class="product-detail">
            <h1>商品详情</h1>
            {% for image in images %}
                <img src="{{ image.image.url }}" width="480px" height="270px">
            {% endfor %}
            <div>
                <h2>{{ product.name }}</h2>
                <p class="price">${{ product.price }}</p>
                <div>
                    <button class="btn-danger" type="button" onclick="javascript:add_cart()">加入购物车</button>
                </div>
                <div>
                    <button class="btn" type="button" onclick="javascript:add_fav()">{% if fav %}已收藏{% else %}收藏{% endif %}</button>
                </div>
                {{ product.description|linebreaks }}

            </div>　
        </div>
        <script type="text/javascript">
            function add_fav(){
                $.ajax({
                       url:"/account/add_fav/",
                       type: 'POST',
                       data: {"fav_id":{{product.id}}},
                       success: function(refresh){
                  location.reload();
                }
                    })
                }
            function add_cart(){
                $.ajax({
                       url:"{% url 'cart:add-cart' %}",
                       type: 'POST',
                       data: {"product_id":{{product.id}}},

                    })
                }
        </script>
    </body>
{% endblock %}
