{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
<body>
    <h1>商品列表</h1>
    <table>
        <thead>
            <tr>
                <th>image</th>
                <th>name</th>
                <th>price</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <img src="{{ product.productimage_set.first.image.url }}" width="50px" height="40px">
                    </td>
                    <td>
                        <a href="{% url 'product:product-detail' product.id %}">{{ product.name }}</a>
                    </td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}
</html>