{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% trans "My shop" %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div style="width:1200px; margin-right:0;">
    {% if request.user.is_authenticated %}
        <div >
            {% with total_items=carts|length %}
                {% if total_items > 0 %}
                    {% trans "Your cart" %}:
                    <a >
                        {% blocktrans with total_items_plural=total_items|pluralize total_price=cart.get_total_price %}
                            {{ total_items }} item{{ total_items_plural }}, ${{ total_price }}
                        {% endblocktrans %}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    {% else %}
    {% endif %}
    </div>

    <div  style="width:1200px; margin-left:0;" >
        {% if request.user.is_authenticated %}
            <a href="{% url 'account:fav-list' %}">{{ user.username }}</a>/<a href="{% url 'account:logout' %}">logout</a>
        {% else %}
            <a href="{% url 'account:login' %}">login</a>/<a>sign in</a>
        {% endif %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/jquery-3.1.1.js' %}" type="text/javascript"></script>
</body>
</html>